body {
  margin: 0px;
  font-family: "Raleway", "Corbel", "Calibri", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
 	background-color: #fff;
}


.scroller {
	position:relative; 
	overflow:auto; 
	z-index:2;
}


.top_white {
  position: absolute;
  background-color: #a19586;
  z-index: 1030;
  height: 50px;
  width: 100%;
}

.full {
	width: 100%;
	margin: 0px;
	float: left;
}

.background {
  margin-left: 0px;
  background-color: #000;
  background-image: url("/images/blackbg.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 100px;
  height: 800px; 
}


.btn_bg {
  padding: 20px;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: auto;
}

.more_button {
  width: 150px;
  float: left;
  margin-top: -10px;
}

.more_button:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.quote_block {
  position: absolute;
  margin-left: 5%;
  width: 500px;
  height: auto;
  margin-top: 160px;
}

.right_side {
  width: 600px;
  height: auto;
  position: fixed;
  margin-left: 700px;
  margin-right: 120px;
  margin-top: 130px;
  margin-bottom: 60px;
  float: left;
  padding: 40px;
  background-color: #fff;
  border: 2px solid #6f2a30;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0.2px 0.2px 6px #6f6456;
  -moz-box-shadow: 0.2px 0.2px 6px #6f6456;
  -webkit-box-shadow: 0.2px 0.2px 6px #6f6456;
}

.red_bar {
  position: fixed;
  margin-top: 100px;
  background-color: #6f2a30;
  color: #fff;
  font-size: 8px;
  width: 100%;
  height: 30px;
  z-index: 1000;
}

.foot {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.main_text {
  font-size: 15px;
  line-height: 24px;
  color: #000;
}


.logo_top {
  width: 140px;
  position: fixed;
  margin-top: -70px;
  float: right;
}

.logo_top2014 {
  width: 148px;
  position: absolute;
  margin-top: -70px;
  float: right;
}

.media_icon {
  float: left;
  padding: 0px;
  width: 54px;
  height: 54px;
  position: absolute;
  margin-top: 3px;
}

.media_icon:hover {
  opacity: 0.89;
}



/*---- Front page images ----*/

.rollover_images {
  margin-top: 20px;
  position: relative;
  z-index: 3;
  margin-bottom: 0px;
  width: 100%;
  margin-top: 170px;
}

.main_page_image {
  height: auto;
  width: 200px;
  padding-top: 0px;
}

.top_main_page {
  background-color: #000;
  margin-top: 20px;
  height: 310px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.block_info {
  text-align: justify;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 60px;
  height: 400px;
}

.block_info p {
  padding-top: 40px;
  color: #e8e3de;
  font-size: 16px;
}

.block_info h1 {
  color: #e8e3de;
  outline: none;
  margin-top: 10px;
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: none;
}


/*----- Main layout details -----*/

.main_page {
  color: #000;
  margin-top: 0px;
}

.header_main {
  color: #000;
  margin-top: 60px;
  text-shadow: #eee 3px 2px 3px;
  font-size: 42px;
}

.header_margin_large {
  margin-top: 180px;
  color: #000;
  width: 100%;
  text-shadow: #eee 3px 2px 3px;
  margin-bottom: 10px;
}

.small_header {
  margin-top: 10px;
  margin-bottom: -30px;
}

.top_photo {
  width: 100%;
  height: auto;
  margin-top: 100px;
  color: #fff;  
}

.red {
  color: #6f2a30;
}

.bio_pic {
  width: 90px;
  height: auto;
  padding: 6px;
  float: left;
}

.bio_pic_sm {
  width: 80px;
  height: auto;
  padding: 6px;
  float: left;
}



.left_bar {
  position: absolute;
  width: 600px;
  margin-left: 7%;
  margin-right: 20px;
  margin-top: 0px;
  padding: 20px;
  height: 500px;
}

.right_tan {
  background-image: url("/images/gradient.png");
  padding: 40px;
  box-shadow: 2px 2px 4px #b6b6b6;
  -moz-box-shadow: 2px 2px 4px #b6b6b6;
  -webkit-box-shadow: 2px 2px 4px #b6b6b6;
  margin-bottom: 40px;
}

.tan_box {
  background-image: url("/images/gradient.png");
  padding: 40px;
  box-shadow: 2px 2px 4px #b6b6b6;
  -moz-box-shadow: 2px 2px 4px #b6b6b6;
  -webkit-box-shadow: 2px 2px 4px #b6b6b6;
  margin-bottom: 40px;
  width: 400px;
  margin-left: 24%;
}

.right_bar {
  float: right;
  position: absolute;
  width: 650px;
  margin-right: 40px;
  margin-top: 0px;
  margin-left: 750px;
  margin-bottom: 40px;
}

.right_about {
  float: right;
  width: 500px;
  margin-right: 40px;
  margin-top: 0px;
  margin-left: 520px;
  margin-bottom: 40px;
}

.main_text {
  margin-bottom: 40px;
}

.link_btn {
  width: 200px;
  float: left;
  padding: 10px;
}

.circle_btn {
  width: 80px;
  height: 80px;
  float: left;
  margin-top: 40px;
}

.tab-content {
  height: auto;
  border: 0.5px solid #dbd2c7;
  padding-top: 20px;
  color: #000;
}

.tab_text {
  font-size: 13px;
  line-height: 18px;
}

.divider {
  border-top: 2px solid #000;
  padding-bottom: 10px;
  margin-top: 20px;
}

.divider_red {
  border-bottom: 1px solid #6f2a30;
  width: 100%;
  margin-bottom: 20px;
}

.right {
  width: 700px;
  float: right;
  margin-right: 180px;
  margin-top: 20px;
}

.left {
  width: 500px;
  float: left;
  margin-left: 20px;
}

.desc_text {
  text-align: justify;
  padding: 40px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: -40px;
}

.quotes {
  width: 560px;;
  height: auto;
  position: relative;
}


.bio_photo {
  width: 150px;
  height: auto;
  float: left;
  padding: 10px;
  border: 1px solid #e6e6e6;
  margin-right: 30px;
}

.bio_text {
  width: 900px;
  margin-top: 20px;
  margin-left: 40px;
}

.no_header {
  margin-top: 80px;
  width: 1200px;
  margin-bottom: -40px;
}

.img_left {
  float: left;
  width: 250px;
  height: auto;
  padding-right: 20px;
  padding-bottom: 20px;
}

.img_right {
  width: 350px;
  height: auto;
  padding-left: 20px;
  float: right;
  padding-bottom: 20px;
  padding-top: 10px;
}

.img_caption {
  font-size: 10px;
  width: 230px;
  text-align: center;
  font-style: italic;
  float: right;
  line-height: 12px;
}

.circle_small {
  width: 30px;
  height: auto;
  margin-left: 120px;
  padding: 10px;
  margin-bottom: 10px;
}


.logo_link {
  float: left;
  padding: 40px;
}

.bg {
  background-color: #f0eeee;
}

a {
  color: #9d2109;
  text-decoration: none;
}

a:hover {
  color: #6f6456;
  text-decoration: none;
}

.white {
	background-color: #fff;
	opacity: 0.89;
	
}

.tan {
	background-color: #dbd2c7;
}

.img {
	padding: 30px;
	border: 1px solid transparent;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

.curly {
  width: 60px;
  height: auto;
  padding: 20px;
}


p {
  margin: 0 0 9px;
  font-family: "Raleway", "Corbel", "Calibri", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: justify;
  position: relative;
  color: #000;
}

psmall {
  font-size: 12px;
  color: #b7dbf4;
}

.center {
	text-align: center;
}

.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

.margin-top {
	margin-top: 30px;
}


li {
  font-size: 13px;
}

.bullets {
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Libre Baskerville", "Courier New", sans-serif;
  font-weight: normal;
  color: #2d2a25;
  text-rendering: optimizelegibility;
  text-shadow: #eee 0.5px 0.5px 0.5px;
  text-align: center;
}

h7 {
	margin: 0;
	font-family: "Corbel", "Calibri", "Tahoma", sans-serif;
	font-weight: normal;
	color: #041637;
	font-size: 18px;
}

h8 {
	font-family: "Corbel", "Calibri", "Tahoma", sans-serif;
	color: #041637;
	font-size: 16px;
}

.center {
	text-align: center;
}

.padBottom {
	padding-bottom: 24px;
}

.padTop {
	padding-top: 24px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}

h1 {
  font-size: 42px;
  line-height: 50px;
	margin-top:100px;
	margin-bottom:60px;
	text-shadow: #ddd 2px 2px 1px;
  
}

h1 small {
  font-size: 16px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  text-shadow: #b1a588 0.9px 1px 0.5px;

}

h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

h3 small {
  font-size: 14px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  line-height: 24px;
}

h4 small {
  font-size: 12px;
}

h5 {
  font-size: 16px;
	line-height: 22px;
	margin-bottom:16px;
}

h6 {
  font-size: 13px;
}


h7 {
	font-family: "Raleway", "Calibri", sans-serif;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #0e6d7b;
	
}

h8 {
	font-size: 72px;
	text-shadow: #b1a588 0.9px 1px 0.5px;
	font-family: "Raleway", "Courier", sans-serif;
	color: #317069;
  
}


.center {
	text-align:center;
}

.margin-top {
	padding-top: 20px;
}



.nav {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top:: 0px;
  list-style: none;
  float: center;  
}

.fixed_nav {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}


.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #1a1e0c;
}

.nav > .pull-right {
  float: right;
}

.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 0px;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  font-family: "Raleway", "Courier New", sans-serif;
  font-size: 16px;
  font-weight: normal;
	color: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 12px;
  line-height: 14px;
}

.nav-tabs {
  margin-top: 50px;
  height: 60px;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
}

.nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #9d2109;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #69562d;
  cursor: default;
  background-color: #f5ecda;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}


.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0px 0px 10px 10px;
     -moz-border-radius: 0px 0px 10px 10px;
          border-radius: 0px 0px 10px 10px;
  font-size: 14px;
          
}

.nav-tabs .dropdown-menu a:hover {
  background-color: #e9e1d7;
  color: #1a1e0c;
}

.nav-pills > li > a {
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
}
.nav-pills > li > a:hover {
  color: #fff;
  background-color: #e9e1d7;
  opacity: 4;

}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #1a1e0c;
  border-bottom-color: #1a1e0c;
}

.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #1a1e0c;
  border-bottom-color: #1a1e0c;
}

.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #1a1e0c;
  border-bottom-color: #1a1e0c;
}

.nav > .dropdown.active > a:hover {
  color: #000000;
  cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #1a1e0c;
  border-color: #1a1e0c;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}

.nav-pills .active {
  border: 2px solid #6f2a30;
}

.find_us {
  color: #000;
  font-size: 14px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.bio {
  margin-top: 60px;
}

.pic {
  width: 220px;
  margin-right: 20px;
  float: left;
  padding-bottom: 20px;
}


.small_text {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: #000;
  line-height: 14px;
}

.thumbnail {
  margin: 10px;
}


/*---- Slideshow ----*/
#slides {
  display: none;
  border: 6px solid #6f2a30;
  padding: 20px;
  background-image: url("/images/gradient.png");
  margin-top: 190px;
  margin-bottom: 40px;
  z-index: 1;
}

#slides .slidesjs-navigation {
  margin-top: 5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  background-image: url("/images/btns-next-prev.png");
  background-repeat: no-repeat;
  display:block;
  width:12px;
  height:18px;
  overflow: hidden;
  text-indent: -9999px;
  float: left;
  margin-right:5px;
}

a.slidesjs-next {
  margin-right:10px;
  background-position: -12px 0;
}

a:hover.slidesjs-next {
  background-position: -12px -18px;
}

a.slidesjs-previous {
  background-position: 0 0;
}

a:hover.slidesjs-previous {
  background-position: 0 -18px;
}

a.slidesjs-play {
  width:15px;
  background-position: -25px 0;
}

a:hover.slidesjs-play {
  background-position: -25px -18px;
}

a.slidesjs-stop {
  width:18px;
  background-position: -41px 0;
}

a:hover.slidesjs-stop {
  background-position: -41px -18px;
}

.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url("/images/pagination.png");
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}

.icon-chevron-right icon-large {
  color: #383934;
}

.icon-chevron-right icon-large:hover {
  color: #6f2a30;
}

.icon-chevron-left icon-large {
  color: #383934;
}

.icon-chevron-left icon-large:hover {
  color: #6f2a30;
}


/*------------------------------*/



/*----FORMS----*/

form {
  margin: 0 0 18px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eee;
}

legend small {
  font-size: 13.5px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

input,
button,
select,
textarea {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  color: #007744;
}

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 24px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 24px;
  color: #666;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

label input,
label textarea,
label select {
  display: block;
}

.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  *zoom: 1;
}

.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

.form-search label,
.form-inline label {
  display: inline-block;
}

.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}

.control-group {
  margin-bottom: 9px;
}

legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
  color: #000;
  font-size: 16px;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 160px;
  *margin-left: 0;
}

.form-horizontal .controls:first-child {
  *padding-left: 160px;
}

.form-horizontal .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}

.form-horizontal .form-actions {
  padding-left: 160px;
}


.btn-danger {
  background-color: #8f434a;
  *background-color: #bd362f;
  background-image: -ms-linear-gradient(top, #8f434a, #6f2a30);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8f434a), to(#6f2a30));
  background-image: -webkit-linear-gradient(top, #8f434a, #6f2a30);
  background-image: -o-linear-gradient(top, #8f434a, #6f2a30);
  background-image: -moz-linear-gradient(top, #8f434a, #6f2a30);
  background-image: linear-gradient(top, #8f434a, #6f2a30);
  background-repeat: repeat-x;
  border-color: #8f434a #8f434a #6f2a30;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8f434a', endColorstr='#6f2a30', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover {
  background-color: #6f2a30;
  *background-color: #6f2a30;
  background-image: -ms-linear-gradient(top, #6f2a30, #6f2a30);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6f2a30), to(#6f2a30));
  background-image: -webkit-linear-gradient(top, #6f2a30, #6f2a30);
  background-image: -o-linear-gradient(top, #6f2a30, #6f2a30);
  background-image: -moz-linear-gradient(top, #6f2a30, #6f2a30);
  background-image: linear-gradient(top, #6f2a30, #6f2a30);
  background-repeat: repeat-x;
  border-color: #6f2a30 #6f2a30 #6f2a30;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6f2a30', endColorstr='#6f2a30', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
}

/*---------*/
