<body>
  <div class="container no_header">
    <h1 class="center">About Alzheimer's Disease</h1>
  </div>
  <div class="container">
    <div class="divider_red"></div>
    
    <div class="row">
   
      <p>Alzheimer’s Disease (AD) is the most common form of dementia, accounting for 50 to 80 percent of cases.  While the majority of AD patients are over age 65, an estimated 5% of cases of ‘early-onset’ AD occur in individuals as young as 30 to 40 years old.</p>
      <div class="img_left">
        <img src="/images/AD_PlaquesTangles.jpg" class="img_left">
        <div class="img_caption" style="width: 200px;"><p class="img_caption" style="width: 250px;">Image copyright Learn Genetics from the University of Utah and is available <a href="http://learn.genetics.utah.edu/content/disorders/whataregd/alzheimers/">here</a>.</p></div>
      </div>
      <p>Alzheimer’s is a progressive disease, and is the sixth leading cause of death in the United States.  While treatments do exist to slow the advancement of the disease and help make the lives of patients and their carers easier, there is no cure.  On average, patients live for eight years following the appearance of noticeable symptoms and diagnosis.</p>
      

      
      <p>In patients in the early stages of AD, microscopic changes in the brain can be seen, and as the disease progresses, two main characteristics are observed: ‘plaques’ and ‘tangles’.  Plaques are formed by build ups of a small peptide called beta-amyloid that is a by-product of processing of one of a protein thought to be involved in neuronal development.  As these peptides accumulate, they are thought to disrupt communication between nerve cells in the brain.  Tangles, on the other hand, are formed by aggregations of a protein called tau that is involved in stabilizing the cytoskeleton of the cell.</p>
      <p>Although Alzheimer’s Disease patients show a consistent pattern of plaques and tangles, exact details of how both entities contribute to the development and progression of the disease.  Further understanding of AD on a detailed, molecular level will be crucial to developing treatments for the disease and ultimately, a cure.</p>
      
    </div>
    
    <div class="row">
      <div class="divider_red"></div>
      <h4>To learn more about Alzheimer's Disease:</h4>
    
      <div style="margin-left: 100px;">
      <a href="http://www.alz.org/"><img src="/images/alzassoclogo.gif" class="logo_link" style="height: 80px; width: auto" alt="Alzheimer's Association Website"></a>
      
      <a href="http://www.nia.nih.gov/alzheimers/publication/alzheimers-disease-fact-sheet"><img src="/images/nia.png" class="logo_link" style="height: 40px; width: auto; margin-top: 20px;">
      </div>
    </div>
      
      
    </div>
  </div>
  </div>
</body>