<body>
  <body class="bg">
    <div class="container" style="width:100%;">
  		<div class="container fixed_nav top_white">
  		  <ul class="nav nav-tabs tan fixed_nav" style="float:left; min-width: 1100px;">
  		    <li><a href="index.php"><img src="/images/2014logo.png" class="logo_top2014"></a></li>
  		    
    			<li style="margin-left:20%;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CCAD 2013 <b class="caret"></b></a>
    			  <ul class="dropdown-menu">
    			    <li><a href="/ad/2013/ccad2013.php">CCAD 2013 Recap</a></li>
    			    <li><a href="/ad/2013/ji13.php">Junior Investigators</a></li>
    			    <li><a href="/ad/2013/committee13.php">Committee</a></li>
    			    <li><a href="/ad/2013/frontiers13.php">Frontiers in AD 2013</a></li>
    			  </ul>
    			</li>
    			  
    			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CCAD 2014 <b class="caret"></b></a>
    			  <ul class="dropdown-menu">
    			    <li><a href="/ad/2014/ccad2014.php">CCAD 2014 Details</a></li>
    			    <li><a href="/ad/2014/committee14.php">Committee</a></li>
    			  </ul>
    			</li>
    			
    			<li><a href="/about.php">About</a></li>
    			<li><a href="http://sandyseas.com/test32819/forum3412/">Forums</a></li>
    			<li><a href="blog.html">Blog</a></li>
    			<li><a href="/contact.php">Contact Us</a></li>
    			<li class="find_us">Find Us: </li>
    		  <li style="margin-top: -20px;"><a href="http://www.facebook.com/pages/Charleston-Conferences-on-Alzheimers-Disease/577429518935455"><img src="/images/fbook.png" class="media_icon"></a></li>
    		  <li><a href="https://www.twitter.com/CCAD2014"><img src="/images/twitter.png" class="media_icon" style="margin-left: 12px; margin-top: -16px;"></a></li>
    		</ul>
  		</div>
  	</div>
  <div class="red_bar"></div>
  	
  <div class="full background">	
    
    <div class="trans_back">
      <p class="main_text">The Charleston Conference on Alzheimer's Disease series was initiated by the philanthropists Leonard Litwin and Carole L. Pittelman, who recongized that accelerating novel Alzheimers disease (AD) research can addres the pressing public health need for rapid advances in understanding and treating AD.  To this end, the CCAD series of conferences will expedite innovative thinking by providing a funding mechanism that will assist rising junior investigators to engage in unusual, high-risk and promising research that pushes the frontiers of AD research and develop collaborative relationships with fellow innovative thinkers to facilitate high-impact projects.</p>
      <h5>CCAD 2013 was a success!  Read more about the first annual conference <a href="/ad/2013/ccad13.html">here</a>.</h5>
      <h5>CCAD 2014 preparations are underway... find out more <a href="/ad/2014/ccad14.html">here</a>.</h5>
    </div>
    <div class="btn_bg">
      <a href="http://sandyseas.com/test32819/forum3412/"><img src="/images/forumcircle.png" class="more_button"></a>
      <a href="blog.html"><img src="/images/blog.png" class="more_button"></a>
      <a href="/ad/2013/ccad2013.php"><img src="/images/ccad2013circle.png" class="more_button"></a>
      <a href="/ad/2014/ccad2014.php"><img src="/images/ccad2014circle.png" class="more_button"></a>
      <a href="/contact.php"><img src="/images/contactcircle.png" class="more_button"></a>
      
    </div>
  </div>
  </div>
  

  
</body>
</html>