<body>
  <body class="background">    
    <div class="container" style="width:100%;">
  		<div class="container fixed_nav top_white">
  		  <ul class="nav nav-tabs tan fixed_nav" style="float:left; min-width: 1100px;">
  		    <p style="float: right; margin-right: 130px; font-size: 11px; color: #000; margin-top: -40px;">CCAD Participant? <a href="http://ccadportal.local/login">Login</a>.</p>
          
  		    <li><a href="index.php"><img src="/images/2014logo.png" class="logo_top2014"></a></li>
  		    
    			<li style="margin-left:20%;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CCAD 2013 <b class="caret"></b></a>
    			  <ul class="dropdown-menu">
    			    <li><a href="/ad/2013/ccad2013.php">CCAD 2013 Recap</a></li>
    			    <li><a href="/ad/2013/ji13.php">Junior Investigators</a></li>
    			    <li><a href="/ad/2013/committee13.php">Committee</a></li>
    			    <li><a href="/ad/2013/frontiers13.php">Frontiers in AD 2013</a></li>
    			  </ul>
    			</li>
    			  
    			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CCAD 2014 <b class="caret"></b></a>
    			  <ul class="dropdown-menu">
    			    <li><a href="/ad/2014/ccad2014.php">CCAD 2014 Details</a></li>
    			    <li><a href="/ad/2014/committee14.php">Committee</a></li>
    			  </ul>
    			</li>
    			
    			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About <b class="caret"></b></a>
    			  <ul class="dropdown-menu">
    			    <li><a href="/about.php">About CCAD</a></li>
    			    <li><a href="/aboutad.php">About AD</a></li>
    		  	</ul>
          </li>
    			<li><a href="http://sandyseas.com/test32819/forum3412/">Forums</a></li>
    			<li><a href="blog.html">Blog</a></li>
    			<li><a href="/contact.php">Contact Us</a></li>
    			<li class="find_us">Find Us: </li>
    		  <li style="margin-top: -20px;"><a href="http://www.facebook.com/pages/Charleston-Conferences-on-Alzheimers-Disease/577429518935455"><img src="/images/facebook.png" class="media_icon"></a></li>
    		  <li><a href="https://www.twitter.com/CCAD2014"><img src="/images/twitter.png" class="media_icon" style="margin-left: 12px; margin-top: -16px; margin-left: 12px;"></a></li>
    		</ul>
  		</div>
  	</div>
  <div class="red_bar"></div>
  	
  <div class="top_main_page">
    <div class="block_info">
      <h1>Charleston Conference on Alzheimer's Disease</h1>
      <p>The Charleston Conference on Alzheimer's Disease (CCAD) series was initiated by the philanthropist Carole L. Pittelman, who recognized that accelerating novel Alzheimer's Disease (AD) research can address the pressing public health need for rapid advances in understanding and treating AD.</p>
      <p><br />The CCAD series of conferences will expedite innovative thinking by providing a funding mechanism that will assist rising junior investigators to engage in unusual, high-risk and promising research that pushes the frontiers of AD research.  Additionally, the series encourages its participants to develop collaborative relationships with fellow innovative thinkers to facilitate high-impact projects.</p>
    </div>
  </div>
  <div class="rollover_images">

      <a href="/ad/2013/ccad2013.php"><img src="/images/winsquare.png" class="main_page_image" onmouseover="this.src='/images/ccad2013square.png'" onmouseout="this.src='/images/winsquare.png'"/></a>
      
      <a href="/ad/2014/ccad2014.php"><img src="/images/chocobox.png" class="main_page_image" onmouseover="this.src='/images/ccad2014.png'" onmouseout="this.src='/images/chocobox.png'"/></a>
      
      <a href="http://sandyseas.com/test32819/forum3412/"><img src="/images/tables.png" class="main_page_image" onmouseover="this.src='/images/forumsquare.png'" onmouseout="this.src='/images/tables.png'"/></a>
      
      <a href="/blog.php"><img src="/images/all.png" class="main_page_image" onmouseover="this.src='/images/blogsquare.png'" onmouseout="this.src='/images/all.png'"/></a>
      
      <a href="/contact.php"><img src="/images/plaques.png" class="main_page_image" onmouseover="this.src='/images/contactsquare.png'" onmouseout="this.src='/images/plaques.png'"/></a>
    </div>
  </div>
  

  
</body>
</html>

