<h1>Reset Password</h1>

<div class="login_back" style="margin-left: 340px;">
<%= form_tag password_resets_path, :html => {:class=>"login_back"}, :method => :post do %>
  <div class="controls">
    <%= label_tag :email, "Email", :class=>"control-label" %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  
  <div class="actions">
    <%= submit_tag "Reset Password", :class=>"btn-main", :style=>"margin-left: 10px;" %>
    <%= link_to "Cancel", login_url, :class=> "btn", :style=>"color: #fff; margin-top: 18px;"%>
    
  </div>
<% end %>
</div>