<%= form_for ([@user, @interest_user]), :html => {:class=>"form-horizontal form-main", :style=>"margin-left: 100px;"}, :url => {:controller => 'interest_users', :action => 'update', :id => params[:id]} do |f| %>


  <fieldset>
    <p style="margin-left: 40px;">Select your research interests:</p>
    
    <div class="field">
      <select name="inters[interest_id][]" multiple="true" size="20">
        <% logger.info("#{@selected}")%>
        <%= options_from_collection_for_select(Interest.all, 'id', 'area', :selected => @selected.collect {|s| s.interest_id} ) %>
      </select>
    </div>


  <div class="actions">
    <%= f.submit "Complete", :class=>"btn-main", :style => "margin-left: 80px;" %>
  </div>

  </fieldset>
  
<% end %>
