<div class="interest">
  <% fields_for_interest(@user_interest) do |user_interest_form| %>
  <p>
    <% hidden_field_tag :user_id, @user_interest.user_id %>
    Interest: <%= user_interest_form.collection_select :interest_id, Interest.all, :id, :area %>
    <%= link_to_function "remove", "$(this).up('.task').remove()" %>
  </p>
  <% end %>
</div>