<h1>Editing user_interest</h1>

<% form_for :user_interest, :url => user_interest_path(@user_interest), :html => { :method => 'put' } do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <p><%= submit_tag "Confirm" %>
<% end %>

<%= link_to 'Show', @user_interest %> |
<%= link_to 'Back', user_interests_path %>
