<h1>Users and Interests</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Interest</th>
    <th></th>
  </tr>

<% @interest_users.each do |interest_user| %>
  <tr>
    <td><%= User.find(interest_user.user_id).name %></td>
    <% if interest_user.interest_id.nil? %>
      <td>N/A</td>
    <% else %>
      <td><%= Interest.find(interest_user.interest_id).area %></td>
    <% end %>
    <td><%= link_to 'Show', interest_user %></td>
    <td><%= link_to 'Edit', edit_interest_user_path(interest_user) %></td>
    <td><%= link_to 'Destroy', interest_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User interest', new_interest_user_path %>
