<h1>New interest_user</h1>

<% form_for :interest_user, :url => interest_users_path do |f| %>
  <%= render :partial = 'fields', :locals => { :f => f } %>
  <p><%= submit_tag "Confirm" %></p>

<%= link_to 'Back', interest_users_path %>
