<%= form_for(@new_user, :html => {:class=>"form-horizontal form-main"}) do |f| %>
  <% if @new_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @new_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <control-groupset>

    <div class="control-group">
      <%= f.label :name, "Email Address", :class=>"control-label" %>
      <%= f.text_field :name, :class=>"controls" %>
    </div>
    
    <div class="control-group">
      <%= f.label :password, "Password", :class=>"control-label" %>
      <%= f.password_field :password, size: 40, :class=>"controls" %>
    </div>
    
    <div class="control-group">
      <%= f.label :password_confirmation, "Confirm Password", :class=>"control-label" %>
      <%= f.password_field :password_confirmation, size: 40, :class=>"controls" %>
    </div>
    

  <div class="actions">
    <%= f.submit "Submit", :class=>"btn-main", :style => "margin-left: 150px;" %>
    <%= link_to "Cancel", users_url, :class=> "btn", :style=>"color: #fff; margin-top: 18px;"%>
    
  </div>
<% end %>

</control-groupset>
