<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span4">
        <%= render "side_nav_super" %>
      </div>
      <div class="span6">
        <h2>Current Users</h2>
        <h5 class="center"><%= link_to 'New User', new_user_path %></h5>
      

        <table class="table table-hover">
          <tr>
            <th>User_ID</th>
            <th>Username</th>
            <th></th>

          </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %> | <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </table>

        <br />

        </div>
      </div>
    </div>
  </div>
</div>