
To reset your password click the URL below.

<%= edit_password_reset_url(@user.password_reset_token) %>

If you did not request your password to be rest, please ignore this email and your password will stay as it is.
