<div class="top_photo">
  <img src="/images/tablelong.jpg">
</div>

<body>
  <div class="container main_page">
    <h1 class="center header_main">Charleston Conference on Alzheimer's Disease 2014</h1>
    <h2 class="center">Information for Junior Investigators</h2>
  </div>
  <div class="container">
  </div>
</body>
</html>