body {
  margin: 0px;
  font-family: "Raleway", "Corbel", "Calibri", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000;
 	background-color: #fff;
}

.background_grid {
  background-image: url("/assets/grid.jpg");
  background-size: 5%;
}

.white {
  background-color: #FFFAFA;
  background-image: url("/assets/tan2.png");
  border: 1px solid #6f2a30;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-top: 0px;
}

.top_white {
  position: absolute;
  background-color: #a19586;
  z-index: 1030;
  height: 50px;
  width: 100%;
}

.red_bar {
  position: fixed;
  margin-top: 100px;
  background-color: #6f2a30;
  color: #fff;
  font-size: 8px;
  width: 100%;
  height: 30px;
  z-index: 1000;
}

.logo_top {
  width: 140px;
  position: fixed;
  margin-top: -70px;
  margin-left: 9%;
  float: right;
}

.logo_large {
  width: 250px;
  height: auto;
  float: left;
  margin-left: 0px;
  margin-top: 40px;
  padding-right: 60px;
}

.login_back {
  background-color: #fff;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  width: 250px;
  margin-left: 28%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.form_back {
  margin-left: 32%;
  background-color: #faf4ed;
  padding: 30px;
  font-family: "Raleway", "Calibri", "sans-serif";
  width: 250px;
  margin-top: 40px;
  border: 2px solid #6f2a30;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.form_main {
  margin-left: 15%;
  padding: 30px;
  font-family: "Raleway", "Calibri", "sans-serif";
  width: 350px;
  margin-top: 10px;
}


.notice {
  font-size: 14px;
}

.bottom_red {
  background-color: #6f2a30;
  height: 80px;
  width: 100%;
  margin-top: 30px;
}

.divider {
  border-bottom: 1px solid #6f2a30;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}


.interests_all {
  height: 200px;
  columns: 80px auto;
  -moz-columns: 80px auto;
  -webkit-columns: 80px auto;
  padding-right: 200px;
  text-align: left;
}


.admin_buttons {
  width: 150px;
  height: auto;
  padding: 10px;
}

.admin_buttons:hover {
  opacity: 0.8;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

/* Links */
a {
  color: #6f2a30;
  text-decoration: none;
}

a:hover {
  color: #2b2925;
  text-decoration: none;
  background-color: transparent;
}

.back_link {
  font-family: "Raleway", "Calibri", sans-serif;
  width: 100px;
  text-align: center;
  padding: 0px;
  color: #6f2a30;
  font-size: 16px;
}

.back_link:hover {
  background-color: transparent;
  color: #2b2925;
}

.white {
	background-color: #fff;
	opacity: 0.89;
	
}

.tan {
	background-color: #dbd2c7;
}

.main_div {
  background-color: #fff;
  background-image: url("/assets/dots2.png");
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 20px;
  font-family: "Raleway", "Calibri", sans-serif;
  min-height: 250px;
  height: auto;
}

.dots_back {
  padding-top: 50px;
  background-image: url("/assets/dotsright.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 40% 100%;
}

.red_top {
  background-color: #6f2a30;
  color: #fff;
  padding: 10px;
}

.font_white {
  color: #fff;
}

.prof_pic {
  margin-top: 30px;
  width: 150px;
  height: auto;
  float: left;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}

.small_pic {
  height: width: 100px;
  width: auto;
  padding: 10px;
  float: left;
}

.pic dt {
  width: 120px;
  height: auto;
  float: left;
  position: relative;
  border: 100px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 2px dashed #dbd2c7;
  padding: 10px;
  margin-right: 20px;
}

.pic dd {
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  padding: 6px;
  height: 200px;
}


.thumbnail {
  height: 300px;
}


.ji_table {
  border: 0px solid #666;
  padding: 10px;
  height: auto;
}

.ji_table tr {
  border: 0px solid #666;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 150px;
}

.interest_main {
  height: 400px;
  columns: 200px 2;
  -moz-columns: 200px 2;
  -webkit-columns: 200px 2;
  margin-bottom: 40px;
  margin-left: 40px;
}

/* Headings */

p {
  margin: 0 0 9px;
  font-family: "Raleway", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  position: relative;
  color: #000;
}

psmall {
  font-size: 12px;
  color: #b7dbf4;
}

.center {
	text-align: center;
}

.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

.margin-top {
	margin-top: 30px;
}

.small_text {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: #000;
  line-height: 14px;
}

li {
  font-size: 13px;
}

.bullets {
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Raleway", "Calibri", sans-serif;
  font-weight: normal;
  color: #2d2a25;
  text-rendering: optimizelegibility;
  text-shadow: #eee 0.5px 0.5px 0.5px;
  text-align: center;
}

h7 {
	margin: 0;
	font-family: "Raleway", "Calibri", "Tahoma", sans-serif;
	font-weight: normal;
	color: #041637;
	font-size: 18px;
}

h8 {
	font-family: "Raleway", "Calibri", "Tahoma", sans-serif;
	color: #041637;
	font-size: 16px;
}

.center {
	text-align: center;
}

.padBottom {
	padding-bottom: 24px;
}

.padTop {
	padding-top: 24px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}

h1 {
  font-size: 48px;
  line-height: 50px;
	margin-top:40px;
	margin-bottom:20px;
	text-shadow: #ddd 2px 2px 1px;
  
}

h1 small {
  font-size: 18px;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  text-shadow: #b1a588 0.9px 1px 0.5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

h3 small {
  font-size: 14px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
  line-height: 24px;
  text-align: left;
}

h4 small {
  font-size: 12px;
}

h5 {
  font-size: 17px;
	line-height: 22px;
	margin-bottom:16px;
	text-align: left;
}

h6 {
  font-size: 13px;
}


h7 {
	font-family: "Raleway", "Calibri", sans-serif;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #0e6d7b;
	
}

h8 {
	font-size: 72px;
	text-shadow: #b1a588 0.9px 1px 0.5px;
	font-family: "Raleway", "Courier", sans-serif;
	color: #317069;
  
}


