
.nav {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top:: 0px;
  list-style: none;
  float: center;  
}

.fixed_nav {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}


.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #1a1e0c;
}

.nav > .pull-right {
  float: right;
}

.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 0px;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  font-family: "Raleway", "Courier New", sans-serif;
  font-size: 16px;
  font-weight: normal;
	color: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 12px;
  line-height: 14px;
}

.nav-tabs {
  margin-top: 50px;
  height: 60px;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
}

.nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  color: #9d2109;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #69562d;
  cursor: default;
  background-color: #f5ecda;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}


.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0px 0px 10px 10px;
     -moz-border-radius: 0px 0px 10px 10px;
          border-radius: 0px 0px 10px 10px;
  font-size: 14px;
          
}

.nav-tabs .dropdown-menu a:hover {
  background-color: #e9e1d7;
  color: #1a1e0c;
}

.nav-pills > li > a {
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
}
.nav-pills > li > a:hover {
  color: #fff;
  background-color: #e9e1d7;
  opacity: 4;

}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #1a1e0c;
  border-bottom-color: #1a1e0c;
}

.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #1a1e0c;
  border-bottom-color: #1a1e0c;
}

.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #1a1e0c;
  border-bottom-color: #1a1e0c;
}

.nav > .dropdown.active > a:hover {
  color: #000000;
  cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #1a1e0c;
  border-color: #1a1e0c;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}

.nav-pills .active {
  border: 2px solid #6f2a30;
}

.nav-sidebar {
  margin-top: 80px;
}

.nav-side {
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-side a {
  font-size: 20px;
  font-family: "Raleway", "Calibri", sans-serif;
  padding: 10px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-side a:hover {
  color: #6f2a30;
  background-color: #dbd2c7;
  opacity: 0.89;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
