
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span3">
        <div class="nav-sidebar">
          <p class="nav-side"><%= link_to "Your Profile", user_admin_path(@user) %></p>
          
          <p class="nav-side"><%= link_to "Update Your Profile", edit_user_contact_path(@user, @contact) %></p>
          <p class="nav-side"><%= link_to "View Other Profiles", user_contacts_path(@user) %></p>
          <p class="nav-side"><%= link_to "Research Interests", user_interests_path(@user) %></p>
        
        </div>
      </div>
      <div class="span8">
        <p class="notice center"><%= notice %></p>
        
        <div style="margin-top: 40px;">
          <h2><%= @contact.firstname %> <%= @contact.lastname %> <span style='font-size: 18px'>(<%= link_to "Edit Profile", edit_user_contact_path(@user, @contact), :style=>"color: #6f2a30;" %>)</span></h2>
        </div>
        <div class="main_div">
        <% if @contact.firstname.nil? %>
          <p class="center">Your profile is currently empty.  Please <%= link_to "update", edit_user_contact_url(@user, @contact) %> your details.</p>
        <% else %>
          <div class="span2">
            <% if @contact.avatar? %>
              <%= image_tag(@contact.avatar_url(:thumb).to_s, :class=>"prof_pic") %>
            <% else %>
              <%= image_tag("no_pic.png", :class => "prof_pic") %>
            <% end %>
          </div>
          <div class="span5">
            
          <h4><%= @jr_research.current_uni %><br /></h4>
          <h5><%= @jr_research.uni_department %></h5>
  
  
          <% if @contact.address_street1? %>
            <h4><br /><%= @contact.address_street1 %>
            <%= @contact.address_street2 %><br /><%= @contact.address_city %>, <%= @contact.address_state %> <%= @contact.address_zip %></h4>
          <% end %>
          <% if @contact.email %>
            <h4><%= mail_to @contact.email %></h4>
          <% else %>
            <h4><%= mail_to @user.name %></h4>
          <% end %>
        <% end %>
        
        <% @interest_users = InterestUser.find(:all, :conditions => {:user_id=>@contact.user_id}) %>
        <h4>Research Interests</h4>
          <% @interest_users.each do |interest_user| %>
            <% interest_id = interest_user.interest_id %>
            <% @interest = Interest.find(interest_id) %>
            <p style="line-height: 11px;"><%= link_to @interest.area, user_interest_path(@user, @interest) %></p>
          <% end %>
          
        <% if @jr_research.attachment_url.empty? %>
        <% else %>
          <h4><%= link_to "Download Resume", @jr_research.attachment_url, :target => "_blank" %></h4>
        <% end %> 
        </div>
        
        </div>
      </div>
    </div>
  </div>
</div>