<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span3">
        <%= render "side_nav" %>
      </div>
      <div class="span8">
        <h1 style="margin-top: 50px;">Other Researchers</h1>
  
        <ul class="thumbnails" style="margin-left: 50px;">

          <% @contacts.each do |contact| %>

            <% @user = User.find(contact.user_id) %>
            <% jr_research = JrResearch.find_by_user_id(contact.user_id) %>
            <% @current_user = User.find(params[:user_id]) %>
          
            <% if @user.id == 1 %>
            <% else %>
                <li class="thumbnail span2">
                  <% if contact.avatar? %>
                    <%= link_to image_tag(contact.avatar_url(:thumb).to_s, :class=>"pic"), user_contact_path(@current_user, contact) %>
                  <% else %>
                    <%= link_to image_tag("no_pic.png", :class=>"pic"), user_contact_path(@current_user, contact) %>        </li>
                  <% end %>
                  <div class="caption">
                  <h4 class="center"><%= contact.title %> <%= contact.firstname %> <%= contact.lastname %></h4>
                  <p class="small_text"><%= jr_research.current_uni %></p>
                  <p class="small_text"><%= jr_research.uni_department %></p>
                </div>
              </li>
          
            <% end %>
          <% end %>
          </ul>
          <br />
      </div>
    </div>
  </div>
</div>
