<div class="row span12">
  <div class="span4">
      <h2 style="margin-top: 130px;">CCAD Portal</h2>
      <h5 class="center">Please log in.</h5>
  </div>
  <div class="span7">

  <div class="form login_back">
    <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
      <p id="notice"><%= flash[:notice] %></p>
      
    <% end %>
  
    <%= form_tag do %>
      <fieldset>
      
        <div class="field">
          <%= label_tag :name, "Email Address:" %>
          <%= text_field_tag :name, params[:name] %>
        </div>
      
        <div class="field">
          <%= label_tag :password, "Password:" %>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <p><%= link_to "Forgotten your password?", new_password_reset_path %></p>

        
        
        <div class="field">
          <%= submit_tag "Login", :class => "btn-main", :style=> "margin-left: 80px; margin-top: -10px;" %>
        </div>
        
        
      
      </fieldset>
    <% end %>
  </div>
  
</div>

</div>