<%= form_for ([@user, @interest]), :html=>{:class=>"form-horizontal form-main"} do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    
    <div class="controls">
      <%= f.label :area, "Research Area", :class=>"control-label" %>
      <%= f.text_field :area, :class=>"controls" %>
    </div>
    
  <div class="actions">
    <%= f.submit "Update", :class=>"btn-main", :style => "margin-left: 180px;" %>
  </div>
<% end %>
