<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span4">
        <%= render "side_nav_super" %>
      </div>
      
      <div class="span6">
        <h2>All Interests</h2>
        
        <h5 style="text-align: center;"><%= link_to "Add a New Interest", new_user_interest_path(@user) %></h5>
        
        <table class="table table-hover">
          <tr>
            <th>Interest</th>
            <th></th>
          </tr>
        
          <% @interests.each do |interest| %>
            <tr>
              <td><%= interest.area %></td>
              <td><%= link_to "Edit", edit_user_interest_path(@user, interest) %> | <%= link_to "Delete", user_interest_path(@user, interest), confirm: 'Are you sure?', method: :delete %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>