<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span4">
        <%= render "side_nav_super" %>
      </div>
      <div class="span6">
        <h2>Edit User</h2>
        
        <br /><br />
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>
