<div class="container white">
<p id="notice"><%= notice %></p>
  <p style="margin-top: 40px; center"><strong>Username: </strong> <%= @user.name %></p>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
