<h1>Reset Password</h1>

<div class="row">

  
<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  
  <div class="login_back" style="margin-left: 340px;">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Form is invalid</h2>
        <% for message in @user.errors.full_messages %>
          <p><%= message %></p>
        <% end %>
      </p>
    </div>
  <% end %>
  
  <div class="controls">
    
    <div class="control-group"> 
      <%= f.label :password, "New Password", :class=> "control-label" %>
      <%= f.password_field :password, :class=> "controls", :style=> "width: 230px;" %>
    </div>
    
    <div class="control-group">
      <%= f.label :password_confirmation, "Confirm New Password", :class=> "control-label" %>
      <%= f.password_field :password_confirmation, :class=> "controls", :style=>"width: 230px;" %>
    </div>
    
    <div class="actions">
      <%= f.submit "Update Password", :class=>"btn-main", :style=>"margin-left: 40px;" %>
    </div>
  </div>
  </div>
<% end %>
</div>
  