<p>
  Select your Interests from the list below:</p>
  
<div id="interests">
  <%= render :partial => 'interest', :collection => Interest.all %>
</div>
<p><%= add_interest_link("Add Another Interest") %></p>

