<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span4">
        <%= render "side_nav" %>
      </div>
      <div class="span6">
        <h2 style="margin-bottom: 40px;" class="dots_back">What are your areas of interest?</h2>

        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

