<!DOCTYPE html>
<html>
<head>
  <title>CCAD Portal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= google_webfonts_link_tag :raleway %>
  <%= javascript_include_tag "application" %>

  
  <%= csrf_meta_tags %>
</head>
<body>
    <% @user = session[:user_id] %>
    <% logger.info(" USER #{@user}")%>
    <% if params[:user_id] == "1" %>
      <%= render "nav_super" %>
    <% else %>
      <% if @user.nil? %>
        <%= render "nav" %>
      <% else %>
        <%= render "nav_user" %>
      <% end %>
    <% end %>


    <div class="container" style="margin-top: 160px; min-height: 500px;">
      <%= yield %>
    </div>
    
  <div class="bottom_red"></div>

</body>
</html>
