.pickList_sourceListContainer, .pickList_controlsContainer, .pickList_targetListContainer {
  float: left; 
  margin: 0.25em; 
 }

.pickList_controlsContainer {
  text-align: center; 
  margin-top : 50px;
 }

.pickList_controlsContainer button { 
  display: block; 
  width: 100%; 
  text-align: center; 
  margin-top: 10px;
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
  height : 26px;
 }

.pickList_list { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  float: left; 
  width: 280px; 
  height: 200px; 
  border: 1px inset; 
  overflow-y: auto; 
  cursor: default; 
  }

.pickList_selectedListItem { 
  background-color: #A3C8F5; 
  }

.pickList_listLabel { 
  font-size: 0.9em; 
  font-weight: bold; 
  text-align: center; 
  }

.pickList_clear { 
  clear: both; 
  }



div.pickList_container div.control-group div.controls{
  margin-left: 10px;
}

div.pickList_container div.control-group .radio_buttons {
  text-align: left;
}

div.pickList_container div.control-group label.radio_buttons{
  width: 100px;
}
