body {
  background-color: #fff;
  color: #333;
  font-family: "Raleway", "Calibri", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: "Raleway", "Calibri", sans-serif;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #6f2a30;
  }
  &:hover {
    color: #666;
    background-color: transparent;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #000066;
}

.field_with_errors {
  padding: 2px;
  background-color: #CC7A7A;
  display: table;
}

#error_explanation {
  width: 100%;
  border: 1px solid #000;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #E0AFAF;
  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #E0AFAF;
    color: #000;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
  p {
    font-size: 12px;
    color: #000;
    text-align: center;
  }
  
}
