<%= form_for ([@user, @jr_research]), :html => {:class=>"form-horizontal form-main"}, :url => {:controller => 'jr_researches', :action => 'update', :id => params[:id]} do |f| %>
  <% if @jr_research.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jr_research.errors.count, "error") %> prohibited this jr_research from being saved:</h2>

      <% @jr_research.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="controls">
    <div class="control-group">
      <%= f.label :current_uni, "Current Institution", :class=>"control-label" %>
      <%= f.text_field :current_uni, :class=>"controls" %>
    </div>
    
    <div class="control-group">
      <%= f.label :uni_department, "Current Department", :class=>"control-label" %>
      <%= f.text_field :uni_department, :class=>"controls" %>
    </div>
    
    
    <div class="control-group">
      <%= f.label :profile, :class=>"control-label" %>
      <%= f.text_area :profile, :class=>"controls", :rows => 10, :placeholder => "Enter a brief description of yourself and your research interests." %>
    </div>

    <div class="control-group">
      <p>Upload your CV/resume. Please use PDF files only.</p>
      <%= f.file_field :attachment %>
    </div>
    

  <div class="actions">
    <%= f.submit "Update", :class=>"btn-main", :style => "margin-left: 180px;" %>
  </div>
  </div>
<% end %>
