<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span4">
        <div class="nav-sidebar">
          <p class="nav-side"><%= link_to "Your Profile", user_admin_path(@user) %></p>
          <p class="nav-side"><%= link_to "Update Your Profile", edit_user_contact_path(@user, @contact) %></p>
          <p class="nav-side"><%= link_to "View Other Profiles", user_contacts_path(@user) %></p>
        </div>
      </div>
      <div class="span6">
        <h1>Other Researchers</h1>

        <table class="table-hover">
          <tr>
            <th>Username</th>
            <th>Researcher</th>
            <th>University</th>
            <th>Department</th>
          </tr>

        <% @jr_researches.each do |jr_research| %>
          <tr>
            <td><%= User.find(jr_research.user_id).name %></td>
            <td><%= Contact.find_by_user_id(jr_research.user_id).firstname %> <%= Contact.find_by_user_id(jr_research.user_id).lastname %></td>
            <td><%= jr_research.current_uni %></td>
            <td><%= jr_research.uni_department %></td>
            <td><%= link_to 'Show', user_jr_research_path(@user, jr_research) %></td>
            <td><%= link_to 'Edit', edit_user_jr_research_path(@user, jr_research) %></td>
            <td><%= link_to 'Destroy', user_jr_research_path(@user, jr_research), confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </table>

        <br />

        <%= link_to 'New Jr research', new_user_jr_research_path(@user) %>
      </div>
    </div>
  </div>
</div>
