
<h2>Research Information</h2>
<% @contact = Contact.find_by_user_id(@jr_research.user_id) %>
<h4><%= @contact.title %> <%= @contact.firstname %> <%= @contact.lastname %>
  <% if @contact.phd_md.empty? %>
    </h4>
  <% else %>
    , <%= @contact.phd_md %></h4>
  <% end %>

<p><strong>Current University: </strong><%= @jr_research.current_uni %><br />
  <%= @jr_research.uni_department %></p>
  
<p><strong>Profile:</strong> <%= @jr_research.profile %></p>

<%= link_to 'Edit', edit_user_jr_research_path(@user, @jr_research) %> |
