
<h2>Welcome to the CCAD Admin Portal</h2>
<h6>You are currently logged in as the super admin.</h6>

<div class="row span12" style="margin-top: 40px;">
  <div class="offset2">
    <%= link_to image_tag("newuser.png", :class=>"admin_buttons"), new_user_path %> 
    <%= link_to image_tag("allusers.png", :class=>"admin_buttons"), users_path %> 
    <%= link_to image_tag("editinterests.png", :class=>"admin_buttons"), users_path %> 
    
  </div>
</div>
