
<div class="container-fluid" style="width:100%;">
	<div class="container-fluid fixed_nav top_white">
		  <ul class="nav nav-tabs tan fixed_nav" style="float:left; min-width: 960px;">
		    <li style="margin-left: 10%;"><a href="/index.php"><img src="/images/COGS_Alzheimers_Seal.png" class="logo_top"></a></li>
		    
  			<li style="margin-left:120px;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CCAD 2013 <b class="caret"></b></a>
  			  <ul class="dropdown-menu">
  			    <li><a href="/ad/2013/ccad2013.php">CCAD 2013 Recap</a></li>
  			    <li><a href="/ad/2013/ji13.php">Junior Investigators</a></li>
  			    <li><a href="/ad/2013/frontiers13.php">Frontiers in AD 2013</a></li>
  			    <li><a href="/ad/2013/photos13.php">CCAD 2013 Photos</a></li>
  			  </ul>
  			</li>
  			  
  			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CCAD 2014 <b class="caret"></b></a>
  			  <ul class="dropdown-menu">
  			    <li><a href="/ad/2014/ccad2014.php">CCAD 2014 Details</a></li>
  			    <li><a href="/ad/2014/committee14.php">Committee</a></li>
  			  </ul>
  			</li>
  			
  			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About <b class="caret"></b></a>
  			  <ul class="dropdown-menu">
  			    <li><a href="/about.php">About CCAD</a></li>
  			    <li><a href="/aboutad.php">About AD</a></li>
  		  	</ul>
        </li>
  			<li><a href="http://sandyseas.com/test32819/forum3412/">Forums</a></li>
  			<li><a href="blog.html">Blog</a></li>
  			<li><a href="/contact.php">Contact Us</a></li>
  			<li class="find_us">Find Us: </li>
  		  <li style="margin-top: -20px;"><a href="http://www.facebook.com/pages/Charleston-Conferences-on-Alzheimers-Disease/577429518935455"><img src="/images/facebook.png" class="media_icon"></a></li>
  		  <li><a href="https://www.twitter.com/CCAD2014"><img src="/images/twitter.png" class="media_icon" style="margin-left: 12px; margin-top: -16px; margin-left: 12px;"></a></li>
  		</ul>
		</div>
	</div>
<div class="red_bar"></div>
