<%-# Navbar, general for now. %>
<div class="container" style="width: 100%">
  <div class="container fixed_nav top_white">
    <ul class="nav nav-tabs tan fixed_nav" style="float: left; min-width: 1100px;">
      <li><a href="http://ccad.local/index.php"><%= image_tag("2014logo.png", :class=>"logo_top") %></a></li>
    </ul>
  </div>
</div>

<div class="red_bar"></div>