<div class="nav-sidebar">
  <p class="nav-side"><%= link_to "Your Profile", user_admin_path(@user) %></p>
  <p class="nav-side"><%= link_to "Update Your Profile", edit_user_contact_path(@user, @contact) %></p>
  <p class="nav-side"><%= link_to "View Other Profiles", user_contacts_path(@user) %></p>
  <p class="nav-side"><%= link_to "Research Interests", user_interests_path(@user) %></p>
</div>