<div class="nav-sidebar">
  <p class="nav-side"><%= link_to "All Users", users_path %></p>
  <p class="nav-side"><%= link_to "Add a New User", new_user_path %></p>
  <p class="nav-side"><%= link_to "Edit Interests", user_interests_path(@user) %></p>
  
</div>