<%= form_for ([@user, @contact]), :html => {:class=>"form-horizontal form-main"} do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <% @contact.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  
  <control-groupset>

    <div class="control-group">
      <%= f.label :title, "Title", :class => "control-label" %>
      <%= f.text_field :title, :class => "controls" %>
    </div>
    
    <div class="control-group">
      <%= f.label :firstname, "First Name", :class=>"control-label" %>
      <%= f.text_field :firstname, :class => "controls" %>
    </div>
    
    <div class="control-group">
      <%= f.label :lastname, "Last Name", :class=>"control-label"%>
      <%= f.text_field :lastname, :class => "controls" %>
    </div>
    
    <div class="control-group">
      <%= f.label :phd_md, "Suffix", :class=>"control-label", :style=>"padding-right: 20px;" %>
      <div class="controls">
        <%= f.select :phd_md, {"PhD" => "PhD", "MD" => "MD"} %>
      </div>
    <div>
      
    <div class="control-group">
      <%= f.label :email, "Email Address", :class=>"control-label" %>
      <%= f.text_field :email, :class => "controls" %>
    </div>
      
    <div class="control-group">
      <%= f.label :phone, "Phone Number", :class=>"control-label" %>
      <%= f.text_field :phone, :class => "controls" %>
    </div>
    
    <div class="control-group">
      <%= f.label :address_street1, "Street Address 1", :class=>"control-label" %>
      <%= f.text_field :address_street1, :class => "controls" %>
    </div>  
    
    <div class="control-group">
      <%= f.label :address_street2, "Street Address 2", :class=>"control-label" %>
      <%= f.text_field :address_street2, :class => "controls" %>
    </div>  
    
    <div class="control-group">
      <%= f.label :address_city, "City", :class=>"control-label" %>
      <%= f.text_field :address_city, :class => "controls" %>
    </div>  
    
    <div class="control-group">
      <%= f.label :address_state, "State", :class=>"control-label", :style=>"padding-right: 20px;" %>
      <div class="controls">
        <%= f.select :address_state, us_states %>
      </div>
    </div>  
    
    <div class="control-group">
      <%= f.label :address_zip, "Zip Code", :class=>"control-label" %>
      <%= f.text_field :address_zip, :class => "controls" %>
    </div>
    
    <div class="control-group">
      <p style="width:300px; font-size:12px;">Upload a profile picture (images will be resized to a 100px x 100px thumbnail).  Only .jpg, .jpeg, .png or .gif files will be accepted.</p>
  		<%= image_tag(@contact.picture_url) if @contact.avatar? %>
  		<%= f.file_field :avatar %>
    </div>
    
    
  <div class="actions">
    <%= f.submit "Next", :class=>"btn-main", :style => "margin-left: 180px;" %>
  </div>
  </control-groupset>
<% end %>
