<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span4">
        <%= render "side_nav" %>
      </div>
      <div class="span6">
        <h2 class="dots_back">Update Your Contact Information</h2>
        <br /><br />
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>
</div>
</div>