
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span3">
        <%= render "side_nav" %>
      </div>
      <div class="span8">
        <div style="margin-top: 40px;">
          <h2><%= @contact.firstname %> <%= @contact.lastname %></h2>
        </div>
        <div class="main_div">
        <% if @contact.firstname.nil? %>
          <p class="center">Your profile is currently empty.  Please <%= link_to "update", edit_user_contact_url(@user, @contact) %> your details.</p>
        <% else %>
          <div class="span2">
            <% if @contact.avatar? %>
              <%= image_tag(@contact.avatar_url(:thumb).to_s, :class=>"prof_pic") %>
            <% else %>
              <%= image_tag("no_pic.png", :class => "prof_pic") %>
            <% end %>
          </div>
          <div class="span5">
            
          <h4><%= @jr_research.current_uni %><br /></h4>
          <h5><%= @jr_research.uni_department %></h5>
  
  
          <% if @contact.address_street1? %>
            <h4><br /><%= @contact.address_street1 %>
            <%= @contact.address_street2 %><br /><%= @contact.address_city %>, <%= @contact.address_state %> <%= @contact.address_zip %></h4>
          <% end %>
          <% if @contact.email %>
            <h4><%= mail_to @contact.email %></h4>
          <% else %>
            <h4><%= mail_to @user.name %></h4>
          <% end %>
        <% end %>
        
        <% @interest_users = InterestUser.find(:all, :conditions => {:user_id=>@contact.user_id}) %>
        <h4>Research Interests</h4>
          <% @interest_users.each do |interest_user| %>
            <% interest_id = interest_user.interest_id %>
            <% if interest_id.nil? %>
              <p style="line-height: 11px;">None Listed</p>
            <% else %>
              <% @interest = Interest.find(interest_id).area %>
              <p style="line-height: 11px;"><%= link_to @interest.area, interest_path(@interest) %></p>
            <% end %>
          <% end %>
          
          <% if @jr_research.attachment_url.nil? %>
          <% else %>
            <h4><%= link_to "Download Resume", @jr_research.attachment_url, :target => "_blank" %></h4>
          <% end %>
          
        </div>
        
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
