<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span4">
        <div class="nav-sidebar">
          <p class="nav-side"><%= link_to "Your Profile", user_admin_path(@user) %></p>
          <p class="nav-side"><%= link_to "Update Your Profile", edit_user_contact_path(@user, @contact) %></p>
          <p class="nav-side"><%= link_to "View Other Profiles", user_contacts_path(@user) %></p>
          <p class="nav-side"><%= link_to "Research Interests", user_interests_path(@user) %></p>
        </div>
      </div>
      
      <div class="span6">
        <h2 style="margin-bottom: 40px;" class="dots_back">All Interests</h2>
        
        <div class="interest_main">
          <% @interests.each do |interest| %>
            <p><%= link_to interest.area, user_interest_path(@user, interest) %></p>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>
