<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span4">
        <%= render "side_nav_super" %>
      </div> 
      <div class="span6">
      
        <h2 style="margin-bottom: 40px; margin-top: 40px;">Edit <%= @interest.area %></h2>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

