<div class="container">
  <div class="row">
    <div class="span12">
      <div class="span4">
        <div class="nav-sidebar">
          <p class="nav-side"><%= link_to "Your Profile", user_admin_path(@user) %></p>
          <p class="nav-side"><%= link_to "Update Your Profile", edit_user_contact_path(@user, @contact) %></p>
          <p class="nav-side"><%= link_to "View Other Profiles", user_contacts_path(@user) %></p>
          <p class="nav-side"><%= link_to "Research Interests", user_interests_path(@user) %></p>
        </div>
      </div>
      
      <div class="span6">
        <h2 style="margin-bottom: 40px;" class="dots_back"><%= @interest.area %></h2>
        
        <table class = "table ji_table">
        <% if @interest_users.empty? %>
          <h4 class="center">There is no one else who shares this interest right now.</h4>
        <% else %>
          <h4 class="center">Others interested:</h4>
        
          <% @interest_users.each do |interest_user| %>
            <% logger.info("USER ID=#{interest_user.user_id} PARAMS=#{params[:user_id]}")%>
            <% if interest_user.user_id.to_i != params[:user_id].to_i %>
          
              <tr>
              <% @contact = Contact.find_by_user_id(interest_user.user_id) %>
                <td>
                  <% if @contact.avatar? %>
                    <%= image_tag(@contact.avatar_url(:thumb).to_s, :class=>"small_pic") %>
                  <% else %>
                    <%= image_tag("no_pic.png", :class => "small_pic") %>
                  <% end %>
                </td>
                <td><%= @contact.firstname %> <%= @contact.lastname %></td>
              
                <td>  
                  <% @interest_users = InterestUser.find(:all, :conditions => {:user_id=>@contact.user_id}) %>
                    <% @interest_users.each do |interest_user| %>
                      <% interest_id = interest_user.interest_id %>
                      <% @interest = Interest.find(interest_id) %>
                      <p style="line-height: 11px;"><%= link_to @interest.area, user_interest_path(@user, @interest) %></p>
                    <% end %>
                </td>
                <td>
                  <%= mail_to @contact.email, "contact" %>
                </td>
              </tr>
        
            <% else %>
              <h4 class="center">There is no one else who shares this interest right now.</h4>
            <% end %>
          <% end %>
        <% end %>
      </table>
    
      <div class="divider"></div>
      
      <div class="interests_all">
        <p>Other Interests</p>
        <% Interest.all.each do |interest| %>
          <p><%= link_to interest.area, user_interest_path(@user, interest) %></p>
        <% end %>
      </div>
     
      <br />
    
     </div>
  </div>
  </div>
</div>
